{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Python Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='martialarts.png') }}" alt="About Me" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Somethings About Me:</h5>
                    <p class="card-text">
                        <ol>
                            <li>Bayern Munich is my favorite soccer team.</li>
                            <li>I am a Black Belt in Martial Arts.</li>
                            <li>I love playing Water Polo and Piano.</li>
                            <li>I am 15 Years Old.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='schedule.png') }}" alt="Schedule" height="250">
                    <div class="card-body">
                    <h5 class="card-title">My Schedule:</h5>
                    <p class="card-text">
                        <ol>
                            <li>Period 1: AP Chemistry</li>
                            <li>Period 2: AP Calc AB</li>
                            <li>Period 3: AP World History</li>
                            <li>Period 4: Honors Humanities</li>
                            <li>Period 5: AP CSP</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='Champions_League.jpeg') }}" alt="Bayern Munich" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Bayern Munich Stats:</h5>
                    <p class="card-text">
                        <ol>
                            <li>Bayern Munich is a 6 time Champion's League Winnning Team!</li>
                            <li>Consistently Profitable.</li>
                            <li>Bayern has won the German League a record 10 times in a row!</li>
                            <li>Bayern has an incredible stadium based in Munich named the Allianz Arena.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}